
.positif{
  text-align: center;
  border-width: px;
  border-color: black;
  background-color:rgb(228, 179, 72);
  height: 140px;
  border-radius: 10px;
  border-style: solid;
  margin: 10px;
  width: 140px;
  font-size: 1.3rem  ;
  padding: 10px;
}

.meninggal{
  text-align: center;
  border-width: px;
  border-color: black;
  background-color:rgb(248, 63, 7);
  height: 140px;
  border-radius: 10px;
  border-style: solid;
  margin: 10px;
  width: 140px;
  font-size: 1.3rem  ;
  padding: 10px;
}
.sembuh{
  text-align: center;
  border-width: px;
  border-color: black;
  background-color:rgb(46, 241, 20);
  height: 140px;
  border-radius: 10px;
  border-style: solid;
  margin: 10px;
  width: 140px;
  font-size: 1.3rem  ;
  padding: 10px;
}

.cont{
  display: flex;
  align-items: left;
  justify-content: left;

}
.cont2{
  float: left;
  display: flex;
 
} 

.nama{
  background-color: aquamarine;
  text-align: left;
  justify-content: left;
}